In [1]:
import pandas as pd

data = pd.read_csv('Study Alias to NCT Mapping.csv')

   study_alias                                         study_desc nct_number
0  I8F-MC-GPHM  Weight Loss Maintenance after Intensive Lifest...   04657016
1  I3Y-MC-JPCW                    Ph III - Abemaciclib - Adjuvant   04752332
2  I6T-MC-AMBT                      Miri Reformulation PK (BE) HV   05515601
3  I5T-MC-AACQ  Multi-center, randomized, double-blind phase 3...   05738486
4  J1I-MC-GZBM  CWM3 - High-Risk Obesity Pts Eligible for Bari...   05882045

In [2]:
data['nct_number'].isnull()

       study_alias  study_desc  nct_number
0            False       False       False
1            False       False       False
2            False       False       False
3            False       False       False
4            False       False       False
...            ...         ...         ...
19321        False       False        True
19322        False       False        True
19323        False       False        True
19324        False       False        True
19325        False       False        True

[19326 rows x 3 columns]

In [12]:
data['nct_number'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
19321     True
19322     True
19323     True
19324     True
19325     True
Name: nct_number, Length: 19326, dtype: bool

In [10]:
data['nct_number'].count()

np.int64(69)

In [7]:
data['nct_number'].size

19326

In [9]:
percentage_of_missing =  (data['nct_number'].count() / data['nct_number'].size) * 100
print(percentage_of_missing)

0.3570319776466936

### Dataset has only 0.3 % NCT numbers.